@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  position: relative;
  font-size: 12px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

a {
  background-color: transparent;
  color: #ff9d00;
  cursor: pointer;
  text-decoration: none;
}

#container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/*头部开始*/
#header {
  margin: 0 auto;
  box-shadow: 0 2px 2px #ddd;
}

.mfw-header {
  width: 1000px;
  height: 58px;
  line-height: 58px;
  margin: 0 auto;
  background-color: #fff;
}

.mfw-header .logo {
  float: left;
  padding: 13px 0;
}

.mfw-header .logo a {
  display: block;
  width: 136px;
  height: 33px;
  background: url(../images/header-small-sprites.png) no-repeat 0 0;
}

.mfw-header .nav {
  float: left;
  padding: 0 10px 0 25px;
  font-size: 14px;
}

.mfw-header .nav li {
  float: left;
}

.mfw-header .nav li a {
  display: inline-block;
  padding: 0 16px;
  color: #333;
}

.mfw-header .login {
  float: right;
  height: 26px;
  padding: 16px 0;
}

.mfw-header .login a {
  display: inline-block;
  float: left;
  width: 26px;
  height: 26px;
  color: #ff9d00;
  font-size: 14px;
}

.mfw-header .login .weibo-login,
.mfw-header .login .qq-login,
.mfw-header .login .weixin-login {
  width: 26px;
  height: 26px;
  line-height: 26px;
  margin-right: 10px;
}

.mfw-header .login .weibo-login {
  background: url(../images/header-sprites13.png) no-repeat 0 -50px;
}

.mfw-header .login .qq-login {
  background: url(../images/header-sprites13.png) no-repeat -30px -50px;
}

.mfw-header .login .weixin-login {
  background: url(../images/header-sprites13.png) no-repeat 0 -165px;
}

.mfw-header .login .login-in,
.mfw-header .login .reg {
  display: inline-block;
  width: auto;
  line-height: 26px;
}

.mfw-header .login .split {
  display: inline-block;
  float: left;
  line-height: 26px;
  margin: 0 10px;
  color: #c9c9c9;
}

/*头部结束*/
/*正文开始*/
.clear {
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}

#main {
  width: 1000px;
  margin: 15px auto 0;
}

#main .focus {
  height: 340px;
  margin: 10px 0 15px;
}

#main .focus .aside-nav {
  float: left;
  width: 260px;
}

#main .focus .aside-nav .gonglve-nav {
  position: relative;
  z-index: 10;
  border: 1px solid #ddd;
  border-bottom: 0;
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.1);
}

#main .focus .aside-nav .gonglve-nav .nav-item .nav-title {
  position: relative;
  z-index: 2;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

#main .focus .aside-nav .gonglve-nav .nav-item .nav-title h3 {
  font-size: 14px;
  font-weight: normal;
}

#main .focus .aside-nav .gonglve-nav .nav-item .nav-title b {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 6px;
  height: 10px;
  background: url(../images/new-gl-icon6.png) no-repeat -20px -40px;
}

#main .focus .aside-nav .input-like {
  position: relative;
  z-index: 10;
  height: 40px;
  margin-top: 10px;
  border: 2px #FFA800 solid;
}

#main .focus .aside-nav .input-like div span {
  float: left;
  width: 29px;
  height: 27px;
  margin-top: 7px;
  margin-left: 8px;
  background: url(../images/new-gl-icon6.png) -20px -60px no-repeat;
}

#main .focus .aside-nav .input-like div #search-word {
  float: left;
  width: 206px;
  height: 30px;
  padding: 3px 0;
  margin-left: 8px;
  margin-top: 2px;
  font-size: 2px;
  color: #888;
  border: 0;
  outline: none;
  line-height: normal;
}

#main .focus .aside-nav .app_d {
  height: 50px;
  padding-bottom: 14px;
  margin-top: 15px;
  border-bottom: 1px solid #e3e3e3;
}

#main .focus .aside-nav .app_d h3 {
  float: left;
  width: 50px;
  height: 50px;
  font-weight: normal;
}

#main .focus .aside-nav .app_d .domn_in {
  float: left;
  width: 180px;
  margin-left: 18px;
}

#main .focus .aside-nav .app_d .domn_in h4 {
  line-height: 18px;
  margin-top: 5px;
  font-size: 16px;
  color: #414141;
  font-weight: normal;
}

#main .focus .aside-nav .app_d .domn_in p {
  margin-top: 8px;
}

#main .focus .aside-nav .app_d .domn_in p a {
  float: left;
  line-height: 14px;
  color: #666;
}

#main .focus .aside-nav .app_d .domn_in p span {
  float: left;
  width: 2px;
  height: 12px;
  line-height: 14px;
  padding: 0 5px;
  color: #d8d8d8;
}

#main .focus .slide {
  position: relative;
  float: right;
  width: 700px;
  height: 340px;
  overflow: hidden;
}

#main .focus .slide ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 99999px;
}

#main .focus .slide ul li {
  float: left;
  width: 700px;
  height: 340px;
  overflow: hidden;
}

#main .focus .slide ol {
  position: absolute;
  right: 30px;
  bottom: 24px;
}

#main .focus .slide ol li {
  float: left;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  text-indent: -100000px;
  background: url("../images/scroll_s.png") center 5px no-repeat;
}

#main .gonglve-wrap {
  margin-top: 15px;
  padding-bottom: 20px;
}

#main .gonglve-wrap .cont-main {
  float: right;
  width: 790px;
  margin-bottom: 20px;
}

#main .gonglve-wrap .cont-main .hd {
  height: 50px;
  line-height: 48px;
  border-bottom: 1px solid #eee;
}

#main .gonglve-wrap .cont-main .hd h3 {
  float: left;
  font-size: 20px;
  font-weight: normal;
  color: #333;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item {
  line-height: 24px;
  padding: 20px 0;
  font-size: 14px;
  overflow: hidden;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item:hover {
  padding: 21px 15px 20px;
  margin: -1px -15px 0;
  background-color: #f8f8f8;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a {
  display: block;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .bar .stat {
  float: right;
  padding: 0 15px;
  line-height: 30px;
  font-size: 14px;
  border: 1px solid #ff9d00;
  border-radius: 15px;
  color: #666;
  background-color: #fff;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .bar .stat .icon-hand {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  vertical-align: -2px;
  background: url(../images/new-gl-icon6.png) no-repeat -40px -40px;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .bar .stat .num {
  color: #ff9d00;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .bar .type {
  display: inline-block;
  float: left;
  line-height: 20px;
  font-size: 12px;
  color: #666;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .bar .type .icon-line {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url(../images/new-gl-icon6.png) no-repeat 0 -40px;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .bar .type strong {
  font-weight: normal;
  color: #ff9d00;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .title {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .art {
  overflow: hidden;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .art dt {
  float: left;
  display: inline;
  width: 220px;
  margin-right: 20px;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .art dt img {
  display: block;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .art dd .info {
  height: 102px;
  padding-top: 10px;
  margin-bottom: 16px;
  color: #666;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .art dd .ext-r {
  float: right;
  line-height: 22px;
  font-size: 12px;
  color: #999;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .art dd .ext-r .author {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #ff9d00;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .gl-item a .art dd .ext-r .author img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 50%;
  vertical-align: middle;
}

#main .gonglve-wrap .cont-main .gl-post .gl-list .hr {
  height: 1px;
  margin-top: 20px;
  background-color: #e5e5e5;
}

#main .gonglve-wrap .sidebar {
  float: left;
  width: 160px;
}

#main .gonglve-wrap .sidebar .side-hd {
  height: 50px;
  line-height: 48px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #eee;
}

#main .gonglve-wrap .sidebar .nav-drop {
  height: 45px;
  line-height: 25px;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

#main .gonglve-wrap .sidebar .nav-drop .drop-item {
  float: left;
  width: 40px;
  font-size: 14px;
}

#main .gonglve-wrap .sidebar .nav-drop .drop-item + .drop-item {
  margin-left: 20px;
}

#main .gonglve-wrap .sidebar .nav-drop .drop-item:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 13px;
  margin: 16px 0 0 -10px;
  background-color: #eee;
}

#main .gonglve-wrap .sidebar .nav-drop .drop-item:first-child:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background-color: 0;
}

#main .gonglve-wrap .sidebar .nav-drop .drop-item .trigger {
  height: 22px;
  padding: 10px 0;
  cursor: pointer;
}

#main .gonglve-wrap .sidebar .nav-drop .drop-item .trigger i {
  float: right;
  margin-top: 10px;
  border-top: 4px solid #999;
  border-left: 4px dashed transparent;
  border-right: 4px dashed transparent;
  font-size: 0;
}

#main .gonglve-wrap .sidebar .rank ul li {
  line-height: 24px;
  padding: 15px 0;
  border-top: 1px solid #f7f7f7;
}

#main .gonglve-wrap .sidebar .rank ul li .num {
  float: left;
  margin-right: 10px;
  font-size: 18px;
  color: #ff9d00;
}

#main .gonglve-wrap .sidebar .rank ul li a {
  color: #333;
  font-size: 14px;
}

#main .gonglve-wrap .sidebar .rank ul li.aside-list {
  width: 130px;
  float: none;
}

#main .gonglve-wrap .sidebar .rank ul li.aside-list a {
  display: block;
  width: 130px;
  height: 184px;
  font-size: 14px;
  color: #333;
}

#main .gonglve-wrap .sidebar .rank ul li.aside-list a img {
  width: 100%;
  height: 100%;
}

#main .gonglve-wrap .sidebar .rank ul li.aside-list p {
  margin: 5px 0;
  color: #666;
  text-align: center;
}

#main .gonglve-wrap .sidebar .rank ul li.aside-list .down-cout {
  position: relative;
  width: 130px;
  height: 24px;
  margin-top: 5px;
  border-radius: 30px;
  background-color: #ebebeb;
}

#main .gonglve-wrap .sidebar .rank ul li.aside-list .down-cout span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/new-gl-icon6.png) -20px -90px no-repeat;
}

/*正文结束*/
/*脚部开始*/
#footer {
  clear: both;
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 22px;
  color: #c2c2c2;
  background-color: #3c3c3c;
}

#footer .footer-content {
  width: 1000px;
  margin: 0 auto;
}

#footer .footer-content .ft-info {
  padding: 30px 8px 40px;
  border-bottom: 1px solid #575a5b;
  overflow: hidden;
}

#footer .footer-content .ft-info dl {
  float: left;
  width: 200px;
  margin-right: 68px;
}

#footer .footer-content .ft-info dl.service {
  width: 135px;
  margin-right: 80px;
}

#footer .footer-content .ft-info dl.service dt {
  text-align: center;
}

#footer .footer-content .ft-info dl dt {
  height: 30px;
  font-size: 14px;
}

#footer .footer-content .ft-info dl dd strong {
  color: #ff9d00;
  font-weight: normal;
}

#footer .footer-content .ft-info dl dd a {
  color: #c2c2c2;
}

#footer .footer-content .ft-info dl dd a.heightlight {
  color: #ff9d00;
}

#footer .footer-content .ft-info dl dd a.heightlight:hover {
  color: #ff9d00;
}

#footer .footer-content .ft-info dl dd a:hover {
  color: #fff;
}

#footer .footer-content .ft-info dl ul {
  width: 170px;
}

#footer .footer-content .ft-info dl ul li {
  float: left;
  width: 85px;
}

#footer .footer-content .ft-info dl ul li:last-child {
  clear: left;
}

#footer .footer-content .ft-info dl ul li a {
  color: #c2c2c2;
}

#footer .footer-content .ft-info dl ul li a.heightlight {
  color: #ff9d00;
}

#footer .footer-content .ft-info dl ul li a.heightlight:hover {
  color: #ff9d00;
}

#footer .footer-content .ft-info dl ul li a:hover {
  color: #fff;
}

#footer .footer-content .ft-info dl.ewm {
  float: right;
  width: 230px;
  padding-top: 22px;
  line-height: 1.4em;
  margin: 0;
}

#footer .footer-content .ft-info dl.ewm dd {
  float: right;
  width: 100px;
  margin: 0;
  text-align: center;
}

#footer .footer-content .ft-info dl.ewm dd .fwh {
  display: block;
  height: 90px;
  margin: 0 0 8px 6px;
  background: url(../images/qr_tejia4.png) no-repeat;
}

#footer .footer-content .ft-info dl.ewm dd .dyh {
  display: block;
  height: 90px;
  margin: 0 0 8px 6px;
  background: url(../images/qr_mfw4.gif) no-repeat;
}

#footer .footer-content .ft-info dl.ewm dd:last-child {
  margin-right: 30px;
}

#footer .footer-content .ft-info dl.social {
  clear: both;
  width: 100%;
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
}

#footer .footer-content .ft-info dl.social dt {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}

#footer .footer-content .ft-info dl.social dd {
  padding: 5px 0;
}

#footer .footer-content .ft-info dl.social dd a {
  margin: 0 6px;
}

#footer .footer-content .ft-info dl.social dd .weibo {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../images/mfw-footer-sprite5.png) no-repeat 0 0;
}

#footer .footer-content .ft-info dl.social dd .qqt {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../images/mfw-footer-sprite5.png) no-repeat -30px 0;
}

#footer .footer-content .ft-info dl.social dd .qzone {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../images/mfw-footer-sprite5.png) no-repeat -60px 0;
}

#footer .footer-content .links {
  padding: 17px 0 17px 8px;
  border-bottom: 1px solid #575a5b;
}

#footer .footer-content .links a {
  display: inline-block;
  margin-right: 12px;
  color: #c2c2c2;
}

#footer .footer-content .links a:hover {
  color: #fff;
}

#footer .footer-content .copyright {
  padding: 12px 0;
}

#footer .footer-content .copyright > a {
  float: left;
  color: #c2c2c2;
}

#footer .footer-content .copyright > a .mfw-logo {
  float: left;
  margin: 2px 20px 0 0;
  width: 136px;
  height: 39px;
  background: url(../images/mfw-footer-sprite5.png) no-repeat 0 -30px;
}

#footer .footer-content .copyright p a {
  color: #c2c2c2;
}

#footer .footer-content .copyright p .heightlight {
  margin-left: 5px;
  color: #ff9d00;
}

#footer .footer-content .copyright p span {
  color: #ff9d00;
}

#footer .footer-content .copyright .safety {
  float: right;
  padding: 5px 8px 0 0;
}

#footer .footer-content .copyright .safety a {
  float: left;
  width: 90px;
  height: 30px;
  margin-left: 10px;
  background: url(../images/mfw-footer-sprite5.png) no-repeat;
}

#footer .footer-content .copyright .safety .s-a {
  background-position: 0 -70px;
}

#footer .footer-content .copyright .safety .s-b {
  background-position: 0 -110px;
}

#footer .footer-content .copyright .safety .s-c {
  background-position: 0 -150px;
}

/*脚部结束*/
/*正文结束*/
